<div class="m-5 text-center display-5 fw-bolder">Currency Converter History</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Currency Code From</th>
      <th scope="col">Amount</th>
      <th scope="col">Currency Code To</th>
      <th scope="col">Result</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of logs; let indexOfelement=index;">
      <th scope="row">{{indexOfelement+1}}</th>
      <td>{{item.FromCurrency}}</td>
      <td>{{item.Amount}}</td>
      <td>{{item.ToCurrency}}</td>
      <td>{{item.Result}}</td>
      <td>{{item.Date}}</td>
    </tr>
  </tbody>
</table>