
<strong><div class="m-5 text-center display-3 fw-bolder">Currency Converter</div></strong>

<div class="row m-5">
  <div class="col-4">
    <span>Amount: </span>
    <input type="number" class="form-control" ng-pattern="amountPattern" [(ngModel)]="amount" (ngModelChange)="onChange()"/>
  </div>
  <div class="col-4">
    <span>From: </span>
    <span></span>
    <select [ngModel]="''" (ngModelChange)="fromCurrency = $event; onChange()" class="form-select form-control">
      <option *ngFor="let item of currencies" [value]="item.CurrencyCode">
        <span>{{item.CurrencyCode}}</span>
        <span> ({{item.CurrencyName}})</span>
      </option>
    </select>
  </div>
  <div class="col-4">
    <span>To: </span>
    <select [ngModel]="''" (ngModelChange)="toCurrency = $event; onChange()" class="form-select form-control">
      <option *ngFor="let item of currencies" [value]="item.CurrencyCode">
        <span>{{item.CurrencyCode}}</span>
        <span> ({{item.CurrencyName}})</span>
      </option>
    </select>
  </div>
</div>

<div *ngIf="showResult" class="m-5 text-center display-3 text-primary">{{this.amount.toFixed(2)}} {{this.fromCurrency}} = <span class="fw-bold">{{result}}</span> {{this.toCurrency}}</div>
<div *ngIf="mssError!" class="m-5 text-center alert alert-danger" role="alert">{{mssError}}</div>

